{
    "timeout": 10,
    "source": {
        "directories": [
            "app"
        ],
        "excludes": [
            "app/Console/Kernel.php",
            "app/Exceptions",
            "app/Http/Kernel.php",
            "app/Http/Middleware",
            "app/Providers"
        ]
    },
    "logs": {
        "text": "infection.log",
        "summary": "infection-summary.log",
        "debug": "infection-debug.log"
    },
    "mutators": {
        "@default": true
    },
    "testFramework": "phpunit",
    "testFrameworkOptions": "--configuration=phpunit.xml",
    "minMsi": 60,
    "minCoveredMsi": 60,
    "threads": 4,
    "ignoreMsiWithNoMutations": true
}
